@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
/* Colours */

:root {
    --navBackground: linear-gradient(to right, #bdc3c7, #2c3e50);
    --buttons: #263544;
}

/* Main */

html {
    box-sizing: border-box;
    display: flex;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: Cormorant Garamond, sans-serif;
    color: whitesmoke;
    background: url("./img/background/background1.JPG");
    background-color: black;
    background-size: cover;
    background-position: 70% 85%;
    background-attachment: fixed;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.openingPage {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10%;
}

/* Navigation */

.nav {
    position: fixed;
    background: var(--navBackground);
    width: 100vw;
    margin: auto;
}

.navBar {
    float: right;
    padding: 3px;
    margin: auto;
}

button {
    height: 30px;
    width: 90px;
    margin: 2px;
    border-radius: 5px;
    outline: none;
    background-color: var(--buttons);
    color: whitesmoke;
    border: none;
    cursor: pointer;
    font-family: Cormorant Garamond, sans-serif;
    font-size: 15px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
    filter: brightness(130%);
}

button:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem 30px 5px rgba(0, 0, 0, 0.3);
}

/* Image */

.openingPage img {
    width: 300px;
    height: 300px;
    margin: 7% 0 7% 0;
    border-radius: 5px;
    background-color: rgba(44, 62, 80, 0.9);
}

/* Horizontal Division */

.division2 {
    background-color: whitesmoke;
    height: 0.5px;
    width: 90%;
    margin: auto;
}

/* Birmingham Builders */

.text {
    margin: 5% 0 2% 0;
    font-size: 27px;
}

/* Paragraph */

.paragraph {
    margin: 0 0 5% 0;
    font-size: 17px;   
}

/* Find out more */

.findOutMore button {
    width: 130px;
    height: 30px;
    font-family: Cormorant Garamond, sans-serif;
    font-size: 17px;
    margin-bottom: 5%;
}

/* Our Work Page __________________________________________________________*/
.ourWorkPage {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.7);
    margin-top: auto;
    padding: 50px;
    width: 550px;
    height: auto;
}

.leftcol {
    float: left; 
    width: 20%;
}

.leftcol img {
    height: 130px;
    width: 130px;
    padding: 10px;
    border-radius: 20px;
}

.rightcol {
    float: left;
    width: 80%;
    font-size: 27px;
    padding-top: 50px;
}

.clear {
    clear: both;
    display: block;
}

.free-quote {
    margin-top: 60px;
    font-size: 25px;
    float: right;
}

.free-quote button {
    width: 300px;
    height: 80px;
    font-size: 23px;
}

.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:400px;
    height:auto;
    display:block;
    transition: all .3s ease-in-out;
}

/* MEDIA QUERY: SMARTPHONE _______________________________________________*/

@media screen and (max-width: 600px) {
    
    .openingPage img {
        width: 250px;
        height: 250px;
    }

    .openingPage {
        width: 80%;
    }

    .text {
        font-size: 25px;
    }

    .paragraph {
        font-size: 15px;
    }

    body {
        background-position: 70%;
    }

    /* Our work page */

    .ourWorkPage {
        width: 90%;
    }

    .rightcol {
        font-size: 15px; 
        padding-top: 10px;   
    }

    .leftcol img {
        height: 50px;
        width: 50px;
        padding: 10px;
    }

    .free-quote button {
        width: 200px;
        height: 50px;
        font-size: 15px;
    }
}

@media screen and (min-width: 601px) and  (max-width: 800px) {
    
    .openingPage img {
        width: 250px;
        height: 250px;
    }

    .openingPage {
        width: 80%;
    }

    .text {
        font-size: 27px;
    }

    .paragraph {
        font-size: 17px;
    }

    /* Our work page */

    .ourWorkPage {
        width: 90%;
    }

    .rightcol {
        font-size: 17px;
        padding-top: 25px;
    }

    .leftcol img {
        height: 70px;
        width: 70px;
        padding: 20px;
    }

    .free-quote button {
        width: 250px;
        height: 60px;
        font-size: 17px;
    }
}

