@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

/* Colours */

:root {
    --navBackground: linear-gradient(to right, #bdc3c7, #2c3e50);
    --buttons: #263544;
}

/* Main __________________________________________________________________*/

html {
    box-sizing: border-box;
    display: flex;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: Fredoka, sans-serif;
    letter-spacing: 2px;
    color: whitesmoke;
    background: url("./img/background/background1.JPG");
    background-color: black;
    background-size: cover;
    background-position: 70% 85%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    width: 100vw;
}



/* Navigation ____________________________________________________*/

.nav {
    position: absolute;
    top: 0;
    background: var(--navBackground);
    width: 100vw;
    margin: auto;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.navBar {
    float: right;
    padding: 3px;
    margin: auto;
}

button {
    height: 30px;
    width: 110px;
    margin: 2px;
    border-radius: 5px;
    outline: none;
    background-color: var(--buttons);
    color: whitesmoke;
    border: none;
    cursor: pointer;
    font-family: Fredoka, sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
    filter: brightness(130%);
}

button:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem 30px 5px rgba(0, 0, 0, 0.3);
}

/* Opening Page ______________________________________________________ */

.openingPage {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.8);
    justify-content: center;
    padding: 10px;
    margin-top: 70px;
    margin-bottom: 10%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    height: auto;
    position: absolute;
}

.openingPage img {
    width: 300px;
    height: 300px;
    margin: 5% 0 5% 0;
    border-radius: 5px;
    background-color: rgba(44, 62, 80, 0.9);
}

.division2 {
    background-color: whitesmoke;
    height: 0.5px;
    width: 90%;
    margin: auto;
}

.text {
    margin: 5% 0 2% 0;
    font-size: 27px;
}

.paragraph {
    margin: 0 0 5% 0;
    font-size: 17px;   
}

.findOutMore button {
    width: 140px;
    height: 35px;
    font-family: Fredoka, sans-serif;
    font-size: 15px;
    margin-bottom: 5%;
}

/* Our Work Page __________________________________________________________*/

.ourWorkPage {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.8);
    animation: 1s ease-out 0s 1 slideInFromLeft;
    justify-content: center;
    text-align: center;
    width: 45%;
    top: 70px;
    height: auto;
    position: absolute;
}

.leftcol {
    float: left; 
    width: 20%;
}

.leftcol img {
    height: 130px;
    width: 130px;
    padding: 10px;
    border-radius: 20px;
}

.rightcol {
    float: left;
    width: 80%;
    font-size: 25px;
    padding-top: 50px;
}

.clear {
    clear: both;
    display: block;
}

.free-quote {
    margin-top: 30px;
    float: right;
}

.free-quote button {
    width: 330px;
    height: 65px;
    font-size: 20px;
    margin: 20px;
}

.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:400px;
    height:auto;
    display:block;
    transition: all .3s ease-in-out;
}

/* Contact Us Page ______________________________________________________ */

.contactUsPage {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.8);
    margin-top: 70px;
    height: 480px;
    width: 400px;
    padding: 20px;
    font-size: 17px;
    text-align: left;
    position: relative;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    font-family: Fredoka, sans-serif;
}

.contactUsImg {
    height: 150px;
    width: 150px;
    background-color: rgba(44, 62, 80, 0.9);
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.table {
    height: 120px;
    width: 400px;
    display: flex;
    margin-top: 20px;
}

#grid1 {
    width: 33%;
    height: 100%;
    border-radius: 10px;
    padding: 2px;
}

#grid2 {
    width: 33%;
    height: 100%;
    border-radius: 10px;
    padding: 2px;
}

#grid3 {
    width: 33%;
    height: 100%;
    border-radius: 10px;
    padding: 2px;
}

.h2 h2 {
    margin-bottom: 45px;
    font-size: 27px;
}

.tel1 {
    margin-bottom: 15px;
    font-size: 20px;
}

.tel2 {
    margin-bottom: 15px;
    font-size: 20px;
}

.email {
    margin-bottom: 45px;
    font-size: 20px;
}

.quote {
    font-size: 25px;
}

i {
    padding-right: 15px;
}

/* MEDIA QUERY: SMARTPHONE _______________________________________________*/

@media screen and (max-width: 450px) {
    
    /* Opening Page */

    .openingPage img {
        width: 220px;
        height: 220px;
    }

    .openingPage {
        width: 80%;
    }

    .text {
        font-size: 25px;
    }

    .paragraph {
        font-size: 15px;
    }

    body {
        background-position: 70%;
    }

    /* Our work page */

    .ourWorkPage {
        width: 90%;
    }

    .rightcol {
        font-size: 15px; 
        padding-top: 10px;   
    }

    .leftcol img {
        height: 80px;
        width: 80px;
        padding: 10px;
    }

    .free-quote button {
        width: 200px;
        height: 50px;
        font-size: 15px;
    }

    /* Contact Us page */

    .contactUsPage {
        height: 400px;
        width: 290px;
        padding: 10px;
        font-size: 15px;
    }

    .h2 {
        font-size: 20px;
    }

    .email {
        font-size: 14px;
    }
    
    .contactUsPage img {
        height: 90px;
        width: 90px;
    }

    .table {
        height: 80px;
        width: 300px;
        display: flex;
        margin-top: 5px;
    }

    .quote {
        font-size: 20px;
    }
}

@media screen and (min-width: 451px) and  (max-width: 600px) {
    
    .openingPage img {
        width: 250px;
        height: 250px;
    }

    .openingPage {
        width: 80%;
    }

    .text {
        font-size: 27px;
    }

    .paragraph {
        font-size: 17px;
    }

    /* Our work page */

    .ourWorkPage {
        width: 70%;
    }

    .rightcol {
        font-size: 20px;
        padding-top: 25px;
    }

    .leftcol img {
        height: 70px;
        width: 70px;
        padding: 20px;
    }

    .free-quote button {
        width: 250px;
        height: 60px;
        font-size: 17px;
    }

    /* Contact Us Page */

    .contactUsPage {
        height: 400px;
        width: 290px;
        padding: 10px;
        font-size: 15px;
    }

    .h2 {
        font-size: 20px;
    }

    .email {
        font-size: 14px;
    }
    
    .contactUsPage img {
        height: 90px;
        width: 90px;
    }

    .table {
        height: 80px;
        width: 300px;
        display: flex;
        margin-top: 5px;
    }

    .quote {
        font-size: 20px;
    }
}

@media screen and (min-width: 601px) and  (max-width: 1000px) {

    /* Our work page */

    .ourWorkPage {
        width: 70%;
    }
}

/* Animation On Load ____________________________________________________ */
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
